body{
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

a {
    color: white;
}

.hero {
    display: flex;
    background-color: #1F2937;
    height: 300px;
    padding-left: 50px;
    padding-right: 50px;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero h2 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 0;
}

button {
    background-color: #3882F6;
}

.random {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.gallery {
    display: flex;
    gap: 16px;
    justify-content: center;
}